footer {
    background-color: rgba(211, 211, 211, 0.096);
    border-top: 1px solid lightgray;
    margin-top: 50px;
    margin-bottom: 0px;
    display: flex;
    padding: 5px 0px;
    align-items: center;
    color: black;
    justify-content: center;
    font-size: 15px;
    text-align: center;
    height: 350px;
  }
  
  .footer-social i {
    color: black;
  }
  
  .footer-social ul {
    list-style: none;
    margin: 0px;
    display: flex;
    justify-content: center;
  }
  
  .footer-social ul li {
    margin: 0px 10px;
  }
  
  .footer-contact {
    padding: 5px;
  }
  
  .back-to-top {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  