.product-title {
  width: 70%;
  margin: 20px auto;
  font-size: 30px;
  font-weight: bold;
}
.product-detail {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 70%;
}

.product-detail .left {
  width: 100%;
  height: 100%;
}

.product-detail .left .product-image {
  width: 600px;
  height: 600px;
  overflow: hidden;
  border: 1px solid lightgray;
  border-radius: 25px;
}

.product-detail .left img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* PRODUCT DETAIL RIGHT */

.product-detail .right {
  width: 100%;
  padding: 10px;
}

.product-detail .right .product-name {
  font-size: 30px;
  font-weight: bold;
  margin: 0px;
}

.product-detail .right .price {
  font-size: 20px;
  margin: 10px 0px;
  font-weight: bold;
}
.product-detail .right span {
  font-size: 15px;
  color: grey;
}

.product-detail .select {
  padding: 10px 0px;
}

.product-detail .select .to-cart{
  padding: 15px 20px;
  border-radius: 30px;
  border: none;
  color: white;

  background-color: rgb(56, 194, 56);
  font-weight: bold;
}

.product-detail .button-option .to-cart:hover {
  cursor: pointer;
  background-color: rgb(46, 128, 46);
  color: white;
}
.product-detail .button-option .buy:hover {
  cursor: pointer;
  background-color: rgb(104, 255, 104);
  color: white;
}
.product-detail .select .buy {
  background-color: rgb(83, 253, 83);
}

.size-selection {
  display: flex;
  gap: 10px;
  font-family: "Rubik";
  margin: 10px 0px;
}

.size-selection label {
  font-size: 14px;
  margin-bottom: 10px;
}

.sizes {
  display: flex;
  gap: 15px;
}

input[type="radio"] {
  display: none;
}

.size-button {
  padding: 5px 20px;
  font-size: 12px;
  border: 0.9px solid grey;
  border-radius: 25px;
  background-color: white;
  color: grey;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.size-button:hover {
  background-color: grey;
  color: white;
}

input[type="radio"]:checked + .size-button {
  background-color: grey;
  color: white;
}

.right .description {
  margin: 0px auto auto 0px;
}
